.row-layout {
  display: flex;
}
.radiogroup-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.radio-group {
  width: max-content;
  height: max-content;
}
.radio {
  padding: 8px;
}
